*.o
*.d
lab1_tester
yfs_client1.log
yfs_client2.log
lock_server.log
extent_server.log
foo.txt.yfs1
foo.txt.yfs2
tmprand
.vscode/
extent_server
lock_server
lock_tester
test-lab-3-a
test-lab-3-b
yfs_client
